EFX_OP_MS_CREATE_ORDER_STAGING.xsd

<?xml version = '1.0' encoding = 'UTF-8'?><!--Copyright (c) 2015 Oracle. All rights reserved.
This material is the confidential property of Oracle Corporation or its licensors and may be used, reproduced, stored or transmitted only in accordance with a valid Oracle license or sublicense agreement.-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            elementFormDefault="qualified"
            xmlns="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes"
            xmlns:op="http://xmlns.oracle.com/BRM/schemas/BusinessOpcodes">
  <xsd:element name="efxOpMsCreateOrderStagingRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EFX_OP_MS_CREATE_ORDER_STAGING_Request" type="EFX_OP_MS_CREATE_ORDER_STAGING_RequestType"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="EFX_OP_MS_CREATE_ORDER_STAGING_RequestType">
    <xsd:sequence>
      <xsd:element name="flags" type="xsd:int"/>
      <!--<xsd:element name="EFX_OP_MS_CREATE_ORDER_STAGING_inputFlist">-->
      <xsd:element name="EFX_OP_MS_CREATE_ORDER_STAGING_inputFlist">
        <xsd:complexType>
          <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="ACCOUNTS" type="ACCOUNTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="ORDER_ID" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDER_STATUS" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:enumeration value="0"/>
                  <xsd:enumeration value="1"/>
                  <xsd:enumeration value="2"/>
                  <xsd:enumeration value="3"/>
                  <xsd:enumeration value="4"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ORDER_TYPE" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
				<xsd:restriction base="xsd:string">
				  <xsd:enumeration value="NEW"/>
                  <xsd:enumeration value="CHANGE"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="POID" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                                        <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
                  <xsd:pattern value=""/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="60"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
            <xsd:element name="TRANSACTION_ID" type="UNION_EFX_OP_MS_CREATE_ORDER_STAGING" minOccurs="1" maxOccurs="1"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ACCOUNTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_BRANCH_ID" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_LOCATION_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_WAIVE_REGULATORY_FEE" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="AAC_PACKAGE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AAC_SOURCE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="AAC_ACCESS" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AAC_VENDOR" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="ORG_UNIT_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACCOUNT_NO" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACTG_CYCLE_DOM" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
		  <xsd:enumeration value="NONE"/>
		  <xsd:enumeration value="DEACT"/>
		  <xsd:enumeration value="REACT"/>
		  <xsd:enumeration value="CLOSE"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BILL_WHEN" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="BUSINESS_TYPE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="101"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="200"/>
            <xsd:enumeration value="201"/>
            <xsd:enumeration value="202"/>
            <xsd:enumeration value="203"/>
            <xsd:enumeration value="204"/>
            <xsd:enumeration value="205"/>
            <xsd:enumeration value="206"/>
            <xsd:enumeration value="207"/>
            <xsd:enumeration value="208"/>
            <xsd:enumeration value="209"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CURRENCY" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DELIVERY_PREFER" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFFECTIVE_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EXEMPT_STATUS" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FORMAT_STR" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="REASON_CODE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="INV_TYPE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
			<xsd:enumeration value="3"/>
            <xsd:enumeration value="4"/>
			<xsd:enumeration value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LOCALE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NAMEINFO" type="NAMEINFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127122" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="PAYINFO_TYPE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PAYMENT_TERM" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="10030"/>
            <xsd:enumeration value="10045"/>
            <xsd:enumeration value="10050"/>
            <xsd:enumeration value="10060"/>
            <xsd:enumeration value="10075"/>
            <xsd:enumeration value="10090"/>
            <xsd:enumeration value="10120"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PO_ORDER_NO" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="SUBORD_INFO" type="SUBORD_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="NAMEINFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127122">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ADDRESS" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CANON_COUNTRY" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CITY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="COMPANY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTACT_TYPE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="COUNTRY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EMAIL_ADDR" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FIRST_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LAST_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MIDDLE_NAME" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PHONE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="STATE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TITLE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TYPE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ZIP" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="SUBORD_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_BRANCH_ID" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_CONTRIBUTOR_TYPE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_LINE_OF_BUSINESS" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_LOCATION_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_SALES_CHANNEL" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_SIC" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AAC_ACCESS" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AAC_PACKAGE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="REASON_CODE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACCOUNT_NO" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
		  <xsd:enumeration value="NONE"/>
		  <xsd:enumeration value="MOVE"/>
		  <xsd:enumeration value="DEACT"/>
		  <xsd:enumeration value="REACT"/>
		  <xsd:enumeration value="CLOSE"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BUSINESS_TYPE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="0"/>
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="101"/>
            <xsd:enumeration value="102"/>
            <xsd:enumeration value="200"/>
            <xsd:enumeration value="201"/>
            <xsd:enumeration value="202"/>
            <xsd:enumeration value="203"/>
            <xsd:enumeration value="204"/>
            <xsd:enumeration value="205"/>
            <xsd:enumeration value="206"/>
            <xsd:enumeration value="207"/>
            <xsd:enumeration value="208"/>
            <xsd:enumeration value="209"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTRACTS" type="CONTRACTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123114" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EFFECTIVE_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NAMEINFO" type="NAMEINFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123113" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="SERVICES" type="SERVICES_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123115" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="NAMEINFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123113">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ADDRESS" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CANON_COUNTRY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CITY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="COMPANY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CONTACT_TYPE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="COUNTRY" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EMAIL_ADDR" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="FIRST_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="LAST_NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="MIDDLE_NAME" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PHONE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="STATE" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TITLE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="TYPE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
            <xsd:enumeration value="2"/>
            <xsd:enumeration value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ZIP" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
   <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="CONTRACTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123114">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_CONTRACT_EFFECTIVE_DATE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_CONTRACT_END_DATE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_CONTRACT_EXECUTION_DATE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
   <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="SERVICES_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123115">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_PRODUCT_CLASS" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="BUNDLE_INFO" type="BUNDLE_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="DISCOUNTS" type="DISCOUNTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311514" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="LOGIN" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="240"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="BUNDLE_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_ESCALATOR_INFO" type="EFX_FLD_ESCALATOR_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513119" minOccurs="0" maxOccurs="unbounded"/>
	  <xsd:element name="SERVICE_CODES" type="SERVICE_CODES_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513120" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EFX_FLD_EVAL_ANNULZD_FCTR" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_EVAL_DURATION" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_EVAL_START_MONTH" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_EVAL_TYPE" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_INITIAL_QUANTITY" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_NOTIF_PERIOD" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_PRICING_DURATION" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_PRICING_STRT_MON" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
	          <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
		  <xsd:enumeration value="CANCEL"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AGGREGATE_MODE" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="RESERVED_AMOUNT" type="UNION_EFX_OP_MS_CREATE_ORDER_STAGING" minOccurs="0" maxOccurs="1"/>
	  <xsd:element name="AVAILABLE_RESOURCE_LIMIT" type="UNION_EFX_OP_MS_CREATE_ORDER_STAGING" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CHARGESHARE_FLAG" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="DISC_OWNER_FLAG" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="END_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="GROUP_NAME" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="EFX_FLD_SUBSCR_LINK" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="EFX_FLD_SUBSCR_INDICATOR" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="START_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="EFX_FLD_ESCALATOR_INFO_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513119">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_ESCALATOR_FREQUENCY" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_ESCALATOR_ID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="EFX_FLD_PRODUCT_CODE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
		  <xsd:enumeration value="CANCEL"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="AMOUNT" type="UNION_EFX_OP_MS_CREATE_ORDER_STAGING" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PERCENT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="TYPE_STR" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="VALID_FROM" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="VALID_TO" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="SERVICE_CODES_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311513120">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_ELIGIBILITY_FLAG" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="EFX_FLD_PRODUCT_CODE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="DISCOUNTS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_112712311514">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ACTION" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
		  <xsd:enumeration value="ADD"/>
		  <xsd:enumeration value="UPDATE"/>
		  <xsd:enumeration value="MODIFY"/>
		  <xsd:enumeration value="REPLACE"/>
		  <xsd:enumeration value="CANCEL"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="END_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="NAME" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="OVERRIDE_FLAGS" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PACKAGE_ID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="RATE_PLAN_SELECTORS" type="RATE_PLAN_SELECTORS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_11271231151417" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="START_T" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
      </xsd:element>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="RATE_PLAN_SELECTORS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_11271231151417">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="EFX_FLD_PRODUCT_CODE" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="60"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="QUANTITY_TIERS" type="QUANTITY_TIERS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123115141712" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="QUANTITY_TIERS_ARRAY_EFX_OP_MS_CREATE_ORDER_STAGING_1127123115141712">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="AMOUNT" type="UNION_EFX_OP_MS_CREATE_ORDER_STAGING" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="STEP_MAX" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="STEP_MIN" type="xsd:int" minOccurs="0" maxOccurs="1"/>
	  <xsd:element name="PERCENT" type="xsd:int" minOccurs="0" maxOccurs="1"/>
    </xsd:choice>
    <xsd:attribute name="elem" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="efxOpMsCreateOrderStagingResponse">
 <!-- <xsd:element name="EFX_OP_MS_CREATE_ORDER_STAGING_outputFlist"> -->
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
		<xsd:element name="ERROR_CODE" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="120"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="ERROR_DESCR" minOccurs="0" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="500"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
		<xsd:element name="PROCESS_END_T" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime"/>
        </xsd:simpleType>
		</xsd:element>
        <xsd:element name="ORDER_ID" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="60"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="POID" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:pattern value="([0-9]*\.)+[0-9]*(\s)+(((/)*|(/)(account)((/)*([a-zA-Z_]*))*))(\s)+[0-9]+(\s)+[0-9]*"/>
              <xsd:pattern value=""/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
		<xsd:element name="PROGRAM_NAME" minOccurs="1" maxOccurs="1">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:maxLength value="60"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="TRANSACTION_ID" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="BUFFER_EFX_OP_MS_CREATE_ORDER_STAGING">
    <xsd:simpleContent>
      <xsd:extension base="xsd:hexBinary">
        <xsd:attribute name="flags" type="xsd:string" use="optional"/>
        <xsd:attribute name="size" type="xsd:string" use="optional"/>
        <xsd:attribute name="offset" type="xsd:string" use="optional"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="EMPTY_EFX_OP_MS_CREATE_ORDER_STAGING">
    <xsd:restriction base="xsd:string">
      <xsd:length value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UNION_EFX_OP_MS_CREATE_ORDER_STAGING">
    <xsd:union memberTypes="xsd:decimal EMPTY_EFX_OP_MS_CREATE_ORDER_STAGING"/>
  </xsd:simpleType>
</xsd:schema>
